// Place all the styles related to the doges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url("359082.jpg");
	background-size: cover;
	font-family: 'Kalam', cursive;
}

.label {
	color:#B5C4CD;
	font-size:30px;
}

h1 {
	font-size: 110px;
	color:#B5C4CD;
	text-align: center;
	position: relative;
	top: 100px;
}

h2 {
	font-size:40px;
	color:#B5C4CD;
}

.navbar-brand {
	font-size:20px;
	color:#B5C4CD;
}

.navbar-default {
	background-color: transparent;
	border: 0px;
}