<!DOCTYPE html>
<html>
<head>
  <title>Lifeofdoge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script>
  UPLOADCARE_PUBLIC_KEY = 'a8e459bed68584ddbb9e';
</script>
<script src="js/jquery-1.x.x.min.js"></script>
<script src="js/jquery.timelinr-0.9.x.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
